.paperStyletwo {
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #17adcf;
  }
  .hrStyletwo {
    opacity: 0;
  }
.StyleTF {
    padding: 5px !important;
}
.StlyeDF {
    display: flex;
    padding-bottom:5px;
}
.headerstyleCrt {
  display: flex;
  justify-content: space-between;
  
}
body{
  background: white;
}
